USE [master]
GO
/****** Object:  Database [EnglishLearning]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE DATABASE [EnglishLearning]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnglishLearning', FILENAME = N'D:\CoSoDuLieu\MSSQL16.SQLEXPRESS02\MSSQL\DATA\EnglishLearning.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnglishLearning_log', FILENAME = N'D:\CoSoDuLieu\MSSQL16.SQLEXPRESS02\MSSQL\DATA\EnglishLearning_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnglishLearning].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnglishLearning]
GO
/****** Object:  Table [dbo].[book_quotes]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_quotes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[book_id] [bigint] NOT NULL,
	[quote_text] [nvarchar](max) NOT NULL,
	[page_number] [int] NULL,
	[chapter] [nvarchar](255) NULL,
	[note] [nvarchar](max) NULL,
	[is_favorite] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[author] [nvarchar](255) NULL,
	[category] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[total_pages] [int] NULL,
	[current_page] [int] NULL,
	[status] [varchar](30) NULL,
	[rating] [int] NULL,
	[review_notes] [nvarchar](max) NULL,
	[start_date] [datetime2](7) NULL,
	[completed_date] [datetime2](7) NULL,
	[cover_url] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[daily_learning_statistics]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[daily_learning_statistics](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[statistic_date] [date] NOT NULL,
	[vocabulary_count] [int] NOT NULL,
	[grammar_count] [int] NOT NULL,
	[listening_count] [int] NOT NULL,
	[speaking_count] [int] NOT NULL,
	[review_count] [int] NOT NULL,
	[game_count] [int] NOT NULL,
	[total_learning_count] [int] NOT NULL,
	[total_learning_seconds] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_daily_statistics_user_date] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[statistic_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[daily_tasks]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[daily_tasks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[task_date] [date] NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[description] [nvarchar](max) NULL,
	[category] [nvarchar](100) NULL,
	[priority] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[is_completed] [bit] NOT NULL,
	[display_order] [int] NOT NULL,
	[estimated_time] [nvarchar](100) NULL,
	[completed_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documents]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[file_name] [nvarchar](500) NOT NULL,
	[stored_file_name] [nvarchar](500) NOT NULL,
	[file_path] [nvarchar](1000) NOT NULL,
	[file_type] [nvarchar](100) NOT NULL,
	[mime_type] [nvarchar](255) NULL,
	[file_size] [bigint] NOT NULL,
	[category] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[download_count] [int] NOT NULL,
	[is_favorite] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entity_tags]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entity_tags](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tag_id] [bigint] NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[entity_id] [bigint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_answers]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_answers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[game_session_id] [bigint] NOT NULL,
	[question_id] [bigint] NOT NULL,
	[selected_option_id] [bigint] NULL,
	[answer_text] [nvarchar](2000) NULL,
	[is_correct] [bit] NOT NULL,
	[answered_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_question_options]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_question_options](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[question_id] [bigint] NOT NULL,
	[option_text] [nvarchar](2000) NOT NULL,
	[is_correct] [bit] NOT NULL,
	[display_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_questions]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_questions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[game_id] [bigint] NOT NULL,
	[user_id] [bigint] NULL,
	[content_type] [nvarchar](30) NULL,
	[content_id] [bigint] NULL,
	[question_text] [nvarchar](2000) NOT NULL,
	[explanation] [nvarchar](max) NULL,
	[difficulty] [nvarchar](30) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_sessions]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_sessions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[game_id] [bigint] NOT NULL,
	[total_questions] [int] NOT NULL,
	[correct_answers] [int] NOT NULL,
	[wrong_answers] [int] NOT NULL,
	[score] [decimal](5, 2) NOT NULL,
	[started_at] [datetime2](7) NOT NULL,
	[completed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[games]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[games](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[game_type] [nvarchar](50) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_games_code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grammar_examples]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grammar_examples](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[grammar_topic_id] [bigint] NOT NULL,
	[example_sentence] [nvarchar](2000) NOT NULL,
	[meaning] [nvarchar](2000) NULL,
	[is_primary] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grammar_exercise_history]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grammar_exercise_history](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[grammar_topic_id] [bigint] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[exercise_type] [nvarchar](50) NULL,
	[level] [nvarchar](20) NULL,
	[total_questions] [int] NOT NULL,
	[correct_count] [int] NOT NULL,
	[score] [int] NOT NULL,
	[questions_data] [nvarchar](max) NOT NULL,
	[user_answers] [nvarchar](max) NULL,
	[time_spent_seconds] [int] NULL,
	[completed_at] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grammar_topics]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grammar_topics](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[topic] [nvarchar](255) NOT NULL,
	[level] [nvarchar](20) NULL,
	[structure] [nvarchar](2000) NULL,
	[positive_structure] [nvarchar](2000) NULL,
	[negative_structure] [nvarchar](2000) NULL,
	[question_structure] [nvarchar](2000) NULL,
	[usage] [nvarchar](max) NULL,
	[signal_words] [nvarchar](max) NULL,
	[common_mistakes] [nvarchar](max) NULL,
	[note] [nvarchar](max) NULL,
	[status] [nvarchar](30) NOT NULL,
	[mastery_level] [int] NOT NULL,
	[review_count] [int] NOT NULL,
	[last_reviewed_at] [datetime2](7) NULL,
	[next_review_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[health_workout_photos]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[health_workout_photos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[log_date] [date] NOT NULL,
	[image_url] [nvarchar](500) NOT NULL,
	[caption] [nvarchar](500) NULL,
	[weight_kg] [decimal](5, 2) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learning_activities]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learning_activities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[activity_type] [nvarchar](50) NOT NULL,
	[content_type] [nvarchar](50) NULL,
	[content_id] [bigint] NULL,
	[title] [nvarchar](500) NOT NULL,
	[description] [nvarchar](2000) NULL,
	[activity_date] [datetime2](7) NOT NULL,
	[duration_seconds] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learning_goal_progress]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learning_goal_progress](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[goal_id] [bigint] NOT NULL,
	[progress_date] [date] NOT NULL,
	[value] [decimal](12, 2) NOT NULL,
	[note] [nvarchar](1000) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learning_goals]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learning_goals](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[goal_type] [nvarchar](50) NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[description] [nvarchar](max) NULL,
	[target_value] [numeric](9, 2) NULL,
	[current_value] [decimal](12, 2) NOT NULL,
	[unit] [nvarchar](50) NULL,
	[start_date] [date] NOT NULL,
	[target_date] [date] NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[listening_lessons]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listening_lessons](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[description] [nvarchar](max) NULL,
	[url] [nvarchar](2000) NULL,
	[duration_seconds] [int] NULL,
	[level] [nvarchar](20) NULL,
	[note] [nvarchar](max) NULL,
	[status] [nvarchar](30) NOT NULL,
	[listened_count] [int] NOT NULL,
	[learned_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUTRITION_ACTIVITY]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUTRITION_ACTIVITY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[CATEGORY] [nvarchar](50) NOT NULL,
	[INTENSITY] [nvarchar](50) NOT NULL,
	[MET_VALUE] [decimal](6, 2) NOT NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATED_AT] [datetime2](7) NOT NULL,
	[UPDATED_AT] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NUTRITION_ACTIVITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NUTRITION_ACTIVITY] UNIQUE NONCLUSTERED 
(
	[NAME] ASC,
	[INTENSITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUTRITION_ACTIVITY_LOG]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUTRITION_ACTIVITY_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[LOG_DATE] [date] NOT NULL,
	[ACTIVITY_ID] [bigint] NOT NULL,
	[DURATION_MINUTES] [decimal](8, 2) NOT NULL,
	[WEIGHT_KG] [decimal](6, 2) NOT NULL,
	[MET_VALUE] [decimal](6, 2) NOT NULL,
	[CALORIES_BURNED] [decimal](10, 2) NOT NULL,
	[CREATED_AT] [datetime2](7) NOT NULL,
	[UPDATED_AT] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NUTRITION_ACTIVITY_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUTRITION_DAILY_LOG]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUTRITION_DAILY_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[LOG_DATE] [date] NOT NULL,
	[FOOD_VARIANT_ID] [bigint] NULL,
	[USER_FOOD_ID] [bigint] NULL,
	[QUANTITY] [decimal](12, 4) NOT NULL,
	[UNIT] [nvarchar](30) NOT NULL,
	[CALCULATED_GRAMS] [decimal](12, 4) NULL,
	[CALCULATED_ML] [decimal](12, 4) NULL,
	[CALORIES] [decimal](12, 4) NOT NULL,
	[PROTEIN] [decimal](12, 4) NOT NULL,
	[CARBOHYDRATE] [decimal](12, 4) NOT NULL,
	[FAT] [decimal](12, 4) NOT NULL,
	[FIBER] [decimal](12, 4) NOT NULL,
	[CREATED_AT] [datetime2](7) NOT NULL,
	[UPDATED_AT] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NUTRITION_DAILY_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUTRITION_FOOD]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUTRITION_FOOD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[CATEGORY] [nvarchar](100) NULL,
	[DESCRIPTION] [nvarchar](1000) NULL,
	[DATA_SOURCE] [nvarchar](100) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATED_AT] [datetime2](7) NOT NULL,
	[UPDATED_AT] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NUTRITION_FOOD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_NUTRITION_FOOD_NAME] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUTRITION_FOOD_UNIT]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUTRITION_FOOD_UNIT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FOOD_ID] [bigint] NOT NULL,
	[UNIT] [nvarchar](30) NOT NULL,
	[GRAM_VALUE] [decimal](12, 4) NULL,
	[ML_VALUE] [decimal](12, 4) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[CREATED_AT] [datetime2](7) NOT NULL,
	[UPDATED_AT] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NUTRITION_FOOD_UNIT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_NUTRITION_FOOD_UNIT] UNIQUE NONCLUSTERED 
(
	[FOOD_ID] ASC,
	[UNIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUTRITION_FOOD_VARIANT]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUTRITION_FOOD_VARIANT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FOOD_ID] [bigint] NOT NULL,
	[STATE] [nvarchar](50) NOT NULL,
	[SERVING_AMOUNT] [decimal](12, 4) NOT NULL,
	[SERVING_UNIT] [nvarchar](20) NOT NULL,
	[CALORIES] [decimal](12, 4) NOT NULL,
	[PROTEIN] [decimal](12, 4) NOT NULL,
	[CARBOHYDRATE] [decimal](12, 4) NOT NULL,
	[FAT] [decimal](12, 4) NOT NULL,
	[FIBER] [decimal](12, 4) NOT NULL,
	[DATA_SOURCE] [nvarchar](100) NULL,
	[CREATED_AT] [datetime2](7) NOT NULL,
	[UPDATED_AT] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NUTRITION_FOOD_VARIANT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_NUTRITION_VARIANT] UNIQUE NONCLUSTERED 
(
	[FOOD_ID] ASC,
	[STATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUTRITION_MICRONUTRIENT]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUTRITION_MICRONUTRIENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FOOD_VARIANT_ID] [bigint] NOT NULL,
	[NUTRIENT_NAME] [nvarchar](100) NOT NULL,
	[AMOUNT] [decimal](14, 6) NOT NULL,
	[UNIT] [nvarchar](20) NOT NULL,
	[CREATED_AT] [datetime2](7) NOT NULL,
	[UPDATED_AT] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NUTRITION_MICRONUTRIENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_NUTRITION_MICRONUTRIENT] UNIQUE NONCLUSTERED 
(
	[FOOD_VARIANT_ID] ASC,
	[NUTRIENT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUTRITION_USER_FOOD]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUTRITION_USER_FOOD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[STATE] [nvarchar](50) NULL,
	[SERVING_AMOUNT] [decimal](12, 4) NOT NULL,
	[SERVING_UNIT] [nvarchar](30) NOT NULL,
	[CALORIES] [decimal](12, 4) NOT NULL,
	[PROTEIN] [decimal](12, 4) NOT NULL,
	[CARBOHYDRATE] [decimal](12, 4) NOT NULL,
	[FAT] [decimal](12, 4) NOT NULL,
	[FIBER] [decimal](12, 4) NOT NULL,
	[DATA_SOURCE] [nvarchar](100) NULL,
	[DESCRIPTION] [nvarchar](1000) NULL,
	[CREATED_AT] [datetime2](7) NOT NULL,
	[UPDATED_AT] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NUTRITION_USER_FOOD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_NUTRITION_USER_FOOD] UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUTRITION_USER_FOOD_MICRONUTRIENT]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUTRITION_USER_FOOD_MICRONUTRIENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_FOOD_ID] [bigint] NOT NULL,
	[NUTRIENT_NAME] [nvarchar](100) NOT NULL,
	[AMOUNT] [decimal](14, 6) NOT NULL,
	[UNIT] [nvarchar](20) NOT NULL,
	[CREATED_AT] [datetime2](7) NOT NULL,
	[UPDATED_AT] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NUTRITION_USER_FOOD_MICRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_NUTRITION_USER_FOOD_MICRO] UNIQUE NONCLUSTERED 
(
	[USER_FOOD_ID] ASC,
	[NUTRIENT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reading_logs]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reading_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[book_id] [bigint] NOT NULL,
	[log_date] [date] NOT NULL,
	[pages_read] [int] NOT NULL,
	[minutes_read] [int] NULL,
	[note] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review_histories]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review_histories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[review_item_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[result] [nvarchar](30) NOT NULL,
	[difficulty] [nvarchar](30) NULL,
	[previous_mastery_level] [int] NULL,
	[new_mastery_level] [int] NULL,
	[previous_interval_days] [int] NULL,
	[new_interval_days] [int] NULL,
	[reviewed_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review_items]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[content_type] [nvarchar](30) NOT NULL,
	[content_id] [bigint] NOT NULL,
	[review_status] [nvarchar](30) NOT NULL,
	[mastery_level] [int] NOT NULL,
	[review_count] [int] NOT NULL,
	[current_interval_days] [int] NOT NULL,
	[last_reviewed_at] [datetime2](7) NULL,
	[next_review_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[speaking_lessons]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[speaking_lessons](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[topic] [nvarchar](500) NULL,
	[description] [nvarchar](max) NULL,
	[url] [nvarchar](2000) NULL,
	[duration_seconds] [int] NULL,
	[level] [nvarchar](20) NULL,
	[note] [nvarchar](max) NULL,
	[status] [nvarchar](30) NOT NULL,
	[practice_count] [int] NOT NULL,
	[practiced_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[study_links]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[study_links](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[url] [nvarchar](2000) NOT NULL,
	[category] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[click_count] [int] NOT NULL,
	[is_favorite] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[study_streaks]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[study_streaks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[current_streak] [int] NOT NULL,
	[longest_streak] [int] NOT NULL,
	[last_study_date] [date] NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_study_streaks_user] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[color] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_settings]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_settings](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[theme] [nvarchar](20) NOT NULL,
	[language] [nvarchar](10) NOT NULL,
	[timezone] [nvarchar](100) NOT NULL,
	[daily_learning_target] [int] NOT NULL,
	[review_enabled] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_user_settings_user] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[display_name] [nvarchar](100) NULL,
	[avatar_url] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[last_login_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vocabularies]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vocabularies](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[word] [nvarchar](255) NOT NULL,
	[meaning] [nvarchar](1000) NOT NULL,
	[pronunciation] [nvarchar](255) NULL,
	[part_of_speech] [nvarchar](100) NULL,
	[level] [nvarchar](20) NULL,
	[note] [nvarchar](max) NULL,
	[status] [nvarchar](30) NOT NULL,
	[mastery_level] [int] NOT NULL,
	[review_count] [int] NOT NULL,
	[last_reviewed_at] [datetime2](7) NULL,
	[next_review_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[topic_id] [bigint] NULL,
	[context_sentence] [nvarchar](max) NULL,
	[context_meaning] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vocabulary_examples]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vocabulary_examples](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vocabulary_id] [bigint] NOT NULL,
	[example_sentence] [nvarchar](2000) NOT NULL,
	[meaning] [nvarchar](2000) NULL,
	[is_primary] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vocabulary_topics]    Script Date: 10/10/2026 3:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vocabulary_topics](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[level] [nvarchar](20) NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_book_quotes_book_id]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_book_quotes_book_id] ON [dbo].[book_quotes]
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_books_category]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_books_category] ON [dbo].[books]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_books_status]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_books_status] ON [dbo].[books]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_books_user_id]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_books_user_id] ON [dbo].[books]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_daily_statistics_user_date]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_daily_statistics_user_date] ON [dbo].[daily_learning_statistics]
(
	[user_id] ASC,
	[statistic_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_daily_tasks_category]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_daily_tasks_category] ON [dbo].[daily_tasks]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_daily_tasks_status]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_daily_tasks_status] ON [dbo].[daily_tasks]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_daily_tasks_user_date]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_daily_tasks_user_date] ON [dbo].[daily_tasks]
(
	[user_id] ASC,
	[task_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_documents_category]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_category] ON [dbo].[documents]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_documents_file_type]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_file_type] ON [dbo].[documents]
(
	[file_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_documents_user_id]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_documents_user_id] ON [dbo].[documents]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_grammar_examples_grammar_topic]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_grammar_examples_grammar_topic] ON [dbo].[grammar_examples]
(
	[grammar_topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_grammar_ex_user_topic]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_grammar_ex_user_topic] ON [dbo].[grammar_exercise_history]
(
	[user_id] ASC,
	[grammar_topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_grammar_topics_user_created]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_grammar_topics_user_created] ON [dbo].[grammar_topics]
(
	[user_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_grammar_topics_user_next_review]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_grammar_topics_user_next_review] ON [dbo].[grammar_topics]
(
	[user_id] ASC,
	[next_review_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_health_photos_user_date]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_health_photos_user_date] ON [dbo].[health_workout_photos]
(
	[user_id] ASC,
	[log_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_learning_activities_user_date]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_learning_activities_user_date] ON [dbo].[learning_activities]
(
	[user_id] ASC,
	[activity_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_listening_lessons_user_created]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_listening_lessons_user_created] ON [dbo].[listening_lessons]
(
	[user_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NUTRITION_ACTIVITY_ACTIVE]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_NUTRITION_ACTIVITY_ACTIVE] ON [dbo].[NUTRITION_ACTIVITY]
(
	[IS_ACTIVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NUTRITION_ACTIVITY_CATEGORY]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_NUTRITION_ACTIVITY_CATEGORY] ON [dbo].[NUTRITION_ACTIVITY]
(
	[CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NUTRITION_ACTIVITY_LOG_ACTIVITY]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_NUTRITION_ACTIVITY_LOG_ACTIVITY] ON [dbo].[NUTRITION_ACTIVITY_LOG]
(
	[ACTIVITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NUTRITION_ACTIVITY_LOG_DATE]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_NUTRITION_ACTIVITY_LOG_DATE] ON [dbo].[NUTRITION_ACTIVITY_LOG]
(
	[LOG_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NUTRITION_ACTIVITY_LOG_USER_DATE]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_NUTRITION_ACTIVITY_LOG_USER_DATE] ON [dbo].[NUTRITION_ACTIVITY_LOG]
(
	[USER_ID] ASC,
	[LOG_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_NUTRITION_LOG_DATE]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_NUTRITION_LOG_DATE] ON [dbo].[NUTRITION_DAILY_LOG]
(
	[LOG_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_NUTRITION_LOG_USER_DATE]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_NUTRITION_LOG_USER_DATE] ON [dbo].[NUTRITION_DAILY_LOG]
(
	[USER_ID] ASC,
	[LOG_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_NUTRITION_LOG_USER_FOOD]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_NUTRITION_LOG_USER_FOOD] ON [dbo].[NUTRITION_DAILY_LOG]
(
	[USER_FOOD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_NUTRITION_LOG_VARIANT]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_NUTRITION_LOG_VARIANT] ON [dbo].[NUTRITION_DAILY_LOG]
(
	[FOOD_VARIANT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_NUTRITION_FOOD_ACTIVE]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_NUTRITION_FOOD_ACTIVE] ON [dbo].[NUTRITION_FOOD]
(
	[IS_ACTIVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_NUTRITION_FOOD_CATEGORY]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_NUTRITION_FOOD_CATEGORY] ON [dbo].[NUTRITION_FOOD]
(
	[CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_NUTRITION_UNIT_FOOD]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_NUTRITION_UNIT_FOOD] ON [dbo].[NUTRITION_FOOD_UNIT]
(
	[FOOD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_NUTRITION_VARIANT_FOOD]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_NUTRITION_VARIANT_FOOD] ON [dbo].[NUTRITION_FOOD_VARIANT]
(
	[FOOD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_NUTRITION_VARIANT_STATE]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_NUTRITION_VARIANT_STATE] ON [dbo].[NUTRITION_FOOD_VARIANT]
(
	[STATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_NUTRITION_MICRO_VARIANT]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_NUTRITION_MICRO_VARIANT] ON [dbo].[NUTRITION_MICRONUTRIENT]
(
	[FOOD_VARIANT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_NUTRITION_USER_FOOD_NAME]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_NUTRITION_USER_FOOD_NAME] ON [dbo].[NUTRITION_USER_FOOD]
(
	[USER_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_NUTRITION_USER_FOOD_USER]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_NUTRITION_USER_FOOD_USER] ON [dbo].[NUTRITION_USER_FOOD]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_NUTRITION_USER_MICRO_FOOD]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IDX_NUTRITION_USER_MICRO_FOOD] ON [dbo].[NUTRITION_USER_FOOD_MICRONUTRIENT]
(
	[USER_FOOD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_reading_logs_book_id]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_reading_logs_book_id] ON [dbo].[reading_logs]
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_reading_logs_user_date]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_reading_logs_user_date] ON [dbo].[reading_logs]
(
	[user_id] ASC,
	[log_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_review_histories_user_reviewed]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_review_histories_user_reviewed] ON [dbo].[review_histories]
(
	[user_id] ASC,
	[reviewed_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_review_items_user_next_review]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_review_items_user_next_review] ON [dbo].[review_items]
(
	[user_id] ASC,
	[next_review_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_speaking_lessons_user_created]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_speaking_lessons_user_created] ON [dbo].[speaking_lessons]
(
	[user_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_study_links_category]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_study_links_category] ON [dbo].[study_links]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_study_links_user_id]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_study_links_user_id] ON [dbo].[study_links]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_vocabularies_topic_id]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_vocabularies_topic_id] ON [dbo].[vocabularies]
(
	[topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_vocabularies_user_created]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_vocabularies_user_created] ON [dbo].[vocabularies]
(
	[user_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_vocabularies_user_next_review]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_vocabularies_user_next_review] ON [dbo].[vocabularies]
(
	[user_id] ASC,
	[next_review_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_vocabularies_user_topic]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_vocabularies_user_topic] ON [dbo].[vocabularies]
(
	[user_id] ASC,
	[topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_vocabularies_word]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_vocabularies_word] ON [dbo].[vocabularies]
(
	[word] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_vocabulary_topics_user_id]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_vocabulary_topics_user_id] ON [dbo].[vocabulary_topics]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_vocabulary_topics_user_name]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_vocabulary_topics_user_name] ON [dbo].[vocabulary_topics]
(
	[user_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_vocabulary_topics_user_status]    Script Date: 10/10/2026 3:45:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_vocabulary_topics_user_status] ON [dbo].[vocabulary_topics]
(
	[user_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[book_quotes] ADD  DEFAULT ((0)) FOR [is_favorite]
GO
ALTER TABLE [dbo].[book_quotes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[book_quotes] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ((0)) FOR [total_pages]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ((0)) FOR [current_page]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ('WANT_TO_READ') FOR [status]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[daily_learning_statistics] ADD  DEFAULT ((0)) FOR [vocabulary_count]
GO
ALTER TABLE [dbo].[daily_learning_statistics] ADD  DEFAULT ((0)) FOR [grammar_count]
GO
ALTER TABLE [dbo].[daily_learning_statistics] ADD  DEFAULT ((0)) FOR [listening_count]
GO
ALTER TABLE [dbo].[daily_learning_statistics] ADD  DEFAULT ((0)) FOR [speaking_count]
GO
ALTER TABLE [dbo].[daily_learning_statistics] ADD  DEFAULT ((0)) FOR [review_count]
GO
ALTER TABLE [dbo].[daily_learning_statistics] ADD  DEFAULT ((0)) FOR [game_count]
GO
ALTER TABLE [dbo].[daily_learning_statistics] ADD  DEFAULT ((0)) FOR [total_learning_count]
GO
ALTER TABLE [dbo].[daily_learning_statistics] ADD  DEFAULT ((0)) FOR [total_learning_seconds]
GO
ALTER TABLE [dbo].[daily_learning_statistics] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[daily_learning_statistics] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[daily_tasks] ADD  DEFAULT ('MEDIUM') FOR [priority]
GO
ALTER TABLE [dbo].[daily_tasks] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[daily_tasks] ADD  DEFAULT ((0)) FOR [is_completed]
GO
ALTER TABLE [dbo].[daily_tasks] ADD  DEFAULT ((1)) FOR [display_order]
GO
ALTER TABLE [dbo].[daily_tasks] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[daily_tasks] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[documents] ADD  DEFAULT ((0)) FOR [download_count]
GO
ALTER TABLE [dbo].[documents] ADD  DEFAULT ((0)) FOR [is_favorite]
GO
ALTER TABLE [dbo].[documents] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[documents] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[entity_tags] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[game_answers] ADD  DEFAULT (sysdatetime()) FOR [answered_at]
GO
ALTER TABLE [dbo].[game_question_options] ADD  DEFAULT ((0)) FOR [is_correct]
GO
ALTER TABLE [dbo].[game_question_options] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[game_questions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[game_questions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[game_sessions] ADD  DEFAULT ((0)) FOR [total_questions]
GO
ALTER TABLE [dbo].[game_sessions] ADD  DEFAULT ((0)) FOR [correct_answers]
GO
ALTER TABLE [dbo].[game_sessions] ADD  DEFAULT ((0)) FOR [wrong_answers]
GO
ALTER TABLE [dbo].[game_sessions] ADD  DEFAULT ((0)) FOR [score]
GO
ALTER TABLE [dbo].[game_sessions] ADD  DEFAULT (sysdatetime()) FOR [started_at]
GO
ALTER TABLE [dbo].[games] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[games] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[grammar_examples] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[grammar_examples] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[grammar_exercise_history] ADD  DEFAULT ('MULTIPLE_CHOICE') FOR [exercise_type]
GO
ALTER TABLE [dbo].[grammar_exercise_history] ADD  DEFAULT ((5)) FOR [total_questions]
GO
ALTER TABLE [dbo].[grammar_exercise_history] ADD  DEFAULT ((0)) FOR [correct_count]
GO
ALTER TABLE [dbo].[grammar_exercise_history] ADD  DEFAULT ((0)) FOR [score]
GO
ALTER TABLE [dbo].[grammar_exercise_history] ADD  DEFAULT ((0)) FOR [time_spent_seconds]
GO
ALTER TABLE [dbo].[grammar_exercise_history] ADD  DEFAULT (getdate()) FOR [completed_at]
GO
ALTER TABLE [dbo].[grammar_exercise_history] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[grammar_topics] ADD  DEFAULT ('NEW') FOR [status]
GO
ALTER TABLE [dbo].[grammar_topics] ADD  DEFAULT ((0)) FOR [mastery_level]
GO
ALTER TABLE [dbo].[grammar_topics] ADD  DEFAULT ((0)) FOR [review_count]
GO
ALTER TABLE [dbo].[grammar_topics] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[grammar_topics] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[health_workout_photos] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[health_workout_photos] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[learning_activities] ADD  DEFAULT (sysdatetime()) FOR [activity_date]
GO
ALTER TABLE [dbo].[learning_activities] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[learning_goal_progress] ADD  DEFAULT ((0)) FOR [value]
GO
ALTER TABLE [dbo].[learning_goal_progress] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[learning_goals] ADD  DEFAULT ((0)) FOR [current_value]
GO
ALTER TABLE [dbo].[learning_goals] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[learning_goals] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[learning_goals] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[listening_lessons] ADD  DEFAULT ('NOT_STARTED') FOR [status]
GO
ALTER TABLE [dbo].[listening_lessons] ADD  DEFAULT ((0)) FOR [listened_count]
GO
ALTER TABLE [dbo].[listening_lessons] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[listening_lessons] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY] ADD  DEFAULT (sysdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY] ADD  DEFAULT (sysdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY_LOG] ADD  DEFAULT (sysdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY_LOG] ADD  DEFAULT (sysdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] ADD  DEFAULT ((0)) FOR [CALORIES]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] ADD  DEFAULT ((0)) FOR [PROTEIN]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] ADD  DEFAULT ((0)) FOR [CARBOHYDRATE]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] ADD  DEFAULT ((0)) FOR [FAT]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] ADD  DEFAULT ((0)) FOR [FIBER]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] ADD  DEFAULT (sysdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] ADD  DEFAULT (sysdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD] ADD  DEFAULT (sysdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD] ADD  DEFAULT (sysdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_UNIT] ADD  DEFAULT (sysdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_UNIT] ADD  DEFAULT (sysdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] ADD  DEFAULT ((100)) FOR [SERVING_AMOUNT]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] ADD  DEFAULT (N'g') FOR [SERVING_UNIT]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] ADD  DEFAULT ((0)) FOR [CALORIES]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] ADD  DEFAULT ((0)) FOR [PROTEIN]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] ADD  DEFAULT ((0)) FOR [CARBOHYDRATE]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] ADD  DEFAULT ((0)) FOR [FAT]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] ADD  DEFAULT ((0)) FOR [FIBER]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] ADD  DEFAULT (sysdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] ADD  DEFAULT (sysdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_MICRONUTRIENT] ADD  DEFAULT ((0)) FOR [AMOUNT]
GO
ALTER TABLE [dbo].[NUTRITION_MICRONUTRIENT] ADD  DEFAULT (sysdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_MICRONUTRIENT] ADD  DEFAULT (sysdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD] ADD  DEFAULT ((1)) FOR [SERVING_AMOUNT]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD] ADD  DEFAULT ((0)) FOR [CALORIES]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD] ADD  DEFAULT ((0)) FOR [PROTEIN]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD] ADD  DEFAULT ((0)) FOR [CARBOHYDRATE]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD] ADD  DEFAULT ((0)) FOR [FAT]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD] ADD  DEFAULT ((0)) FOR [FIBER]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD] ADD  DEFAULT (sysdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD] ADD  DEFAULT (sysdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD_MICRONUTRIENT] ADD  DEFAULT ((0)) FOR [AMOUNT]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD_MICRONUTRIENT] ADD  DEFAULT (sysdatetime()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD_MICRONUTRIENT] ADD  DEFAULT (sysdatetime()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[reading_logs] ADD  DEFAULT ((0)) FOR [pages_read]
GO
ALTER TABLE [dbo].[reading_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[review_histories] ADD  DEFAULT (sysdatetime()) FOR [reviewed_at]
GO
ALTER TABLE [dbo].[review_items] ADD  DEFAULT ('ACTIVE') FOR [review_status]
GO
ALTER TABLE [dbo].[review_items] ADD  DEFAULT ((0)) FOR [mastery_level]
GO
ALTER TABLE [dbo].[review_items] ADD  DEFAULT ((0)) FOR [review_count]
GO
ALTER TABLE [dbo].[review_items] ADD  DEFAULT ((1)) FOR [current_interval_days]
GO
ALTER TABLE [dbo].[review_items] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[review_items] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[speaking_lessons] ADD  DEFAULT ('NOT_STARTED') FOR [status]
GO
ALTER TABLE [dbo].[speaking_lessons] ADD  DEFAULT ((0)) FOR [practice_count]
GO
ALTER TABLE [dbo].[speaking_lessons] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[speaking_lessons] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[study_links] ADD  DEFAULT ((0)) FOR [click_count]
GO
ALTER TABLE [dbo].[study_links] ADD  DEFAULT ((0)) FOR [is_favorite]
GO
ALTER TABLE [dbo].[study_links] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[study_links] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[study_streaks] ADD  DEFAULT ((0)) FOR [current_streak]
GO
ALTER TABLE [dbo].[study_streaks] ADD  DEFAULT ((0)) FOR [longest_streak]
GO
ALTER TABLE [dbo].[study_streaks] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[tags] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_settings] ADD  DEFAULT ('LIGHT') FOR [theme]
GO
ALTER TABLE [dbo].[user_settings] ADD  DEFAULT ('vi') FOR [language]
GO
ALTER TABLE [dbo].[user_settings] ADD  DEFAULT ('Asia/Ho_Chi_Minh') FOR [timezone]
GO
ALTER TABLE [dbo].[user_settings] ADD  DEFAULT ((30)) FOR [daily_learning_target]
GO
ALTER TABLE [dbo].[user_settings] ADD  DEFAULT ((1)) FOR [review_enabled]
GO
ALTER TABLE [dbo].[user_settings] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_settings] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[vocabularies] ADD  DEFAULT ('NEW') FOR [status]
GO
ALTER TABLE [dbo].[vocabularies] ADD  DEFAULT ((0)) FOR [mastery_level]
GO
ALTER TABLE [dbo].[vocabularies] ADD  DEFAULT ((0)) FOR [review_count]
GO
ALTER TABLE [dbo].[vocabularies] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[vocabularies] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[vocabulary_examples] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[vocabulary_examples] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[vocabulary_topics] ADD  DEFAULT ('NEW') FOR [status]
GO
ALTER TABLE [dbo].[vocabulary_topics] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[vocabulary_topics] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[book_quotes]  WITH CHECK ADD  CONSTRAINT [FK_book_quotes_book] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[book_quotes] CHECK CONSTRAINT [FK_book_quotes_book]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FK_books_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FK_books_user]
GO
ALTER TABLE [dbo].[daily_learning_statistics]  WITH CHECK ADD  CONSTRAINT [FK_daily_statistics_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[daily_learning_statistics] CHECK CONSTRAINT [FK_daily_statistics_user]
GO
ALTER TABLE [dbo].[daily_tasks]  WITH CHECK ADD  CONSTRAINT [FK_daily_tasks_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[daily_tasks] CHECK CONSTRAINT [FK_daily_tasks_users]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[documents] CHECK CONSTRAINT [FK_documents_users]
GO
ALTER TABLE [dbo].[entity_tags]  WITH CHECK ADD  CONSTRAINT [FK_entity_tags_tag] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tags] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[entity_tags] CHECK CONSTRAINT [FK_entity_tags_tag]
GO
ALTER TABLE [dbo].[game_answers]  WITH CHECK ADD  CONSTRAINT [FK_game_answers_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[game_questions] ([id])
GO
ALTER TABLE [dbo].[game_answers] CHECK CONSTRAINT [FK_game_answers_question]
GO
ALTER TABLE [dbo].[game_answers]  WITH CHECK ADD  CONSTRAINT [FK_game_answers_session] FOREIGN KEY([game_session_id])
REFERENCES [dbo].[game_sessions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[game_answers] CHECK CONSTRAINT [FK_game_answers_session]
GO
ALTER TABLE [dbo].[game_question_options]  WITH CHECK ADD  CONSTRAINT [FK_game_question_options_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[game_questions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[game_question_options] CHECK CONSTRAINT [FK_game_question_options_question]
GO
ALTER TABLE [dbo].[game_questions]  WITH CHECK ADD  CONSTRAINT [FK_game_questions_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id])
GO
ALTER TABLE [dbo].[game_questions] CHECK CONSTRAINT [FK_game_questions_game]
GO
ALTER TABLE [dbo].[game_sessions]  WITH CHECK ADD  CONSTRAINT [FK_game_sessions_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id])
GO
ALTER TABLE [dbo].[game_sessions] CHECK CONSTRAINT [FK_game_sessions_game]
GO
ALTER TABLE [dbo].[game_sessions]  WITH CHECK ADD  CONSTRAINT [FK_game_sessions_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[game_sessions] CHECK CONSTRAINT [FK_game_sessions_user]
GO
ALTER TABLE [dbo].[grammar_examples]  WITH CHECK ADD  CONSTRAINT [FK_grammar_examples_grammar_topic] FOREIGN KEY([grammar_topic_id])
REFERENCES [dbo].[grammar_topics] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[grammar_examples] CHECK CONSTRAINT [FK_grammar_examples_grammar_topic]
GO
ALTER TABLE [dbo].[grammar_exercise_history]  WITH CHECK ADD  CONSTRAINT [fk_grammar_ex_topic] FOREIGN KEY([grammar_topic_id])
REFERENCES [dbo].[grammar_topics] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[grammar_exercise_history] CHECK CONSTRAINT [fk_grammar_ex_topic]
GO
ALTER TABLE [dbo].[grammar_exercise_history]  WITH CHECK ADD  CONSTRAINT [fk_grammar_ex_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[grammar_exercise_history] CHECK CONSTRAINT [fk_grammar_ex_user]
GO
ALTER TABLE [dbo].[grammar_topics]  WITH CHECK ADD  CONSTRAINT [FK_grammar_topics_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[grammar_topics] CHECK CONSTRAINT [FK_grammar_topics_user]
GO
ALTER TABLE [dbo].[health_workout_photos]  WITH CHECK ADD  CONSTRAINT [FK_health_workout_photos_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[health_workout_photos] CHECK CONSTRAINT [FK_health_workout_photos_user]
GO
ALTER TABLE [dbo].[learning_activities]  WITH CHECK ADD  CONSTRAINT [FK_learning_activities_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[learning_activities] CHECK CONSTRAINT [FK_learning_activities_user]
GO
ALTER TABLE [dbo].[learning_goal_progress]  WITH CHECK ADD  CONSTRAINT [FK_learning_goal_progress_goal] FOREIGN KEY([goal_id])
REFERENCES [dbo].[learning_goals] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[learning_goal_progress] CHECK CONSTRAINT [FK_learning_goal_progress_goal]
GO
ALTER TABLE [dbo].[learning_goals]  WITH CHECK ADD  CONSTRAINT [FK_learning_goals_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[learning_goals] CHECK CONSTRAINT [FK_learning_goals_user]
GO
ALTER TABLE [dbo].[listening_lessons]  WITH CHECK ADD  CONSTRAINT [FK_listening_lessons_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[listening_lessons] CHECK CONSTRAINT [FK_listening_lessons_user]
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY_LOG]  WITH CHECK ADD  CONSTRAINT [FK_NUTRITION_ACTIVITY_LOG_ACTIVITY] FOREIGN KEY([ACTIVITY_ID])
REFERENCES [dbo].[NUTRITION_ACTIVITY] ([ID])
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY_LOG] CHECK CONSTRAINT [FK_NUTRITION_ACTIVITY_LOG_ACTIVITY]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG]  WITH CHECK ADD  CONSTRAINT [FK_NUTRITION_LOG_USER_FOOD] FOREIGN KEY([USER_FOOD_ID])
REFERENCES [dbo].[NUTRITION_USER_FOOD] ([ID])
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] CHECK CONSTRAINT [FK_NUTRITION_LOG_USER_FOOD]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG]  WITH CHECK ADD  CONSTRAINT [FK_NUTRITION_LOG_VARIANT] FOREIGN KEY([FOOD_VARIANT_ID])
REFERENCES [dbo].[NUTRITION_FOOD_VARIANT] ([ID])
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] CHECK CONSTRAINT [FK_NUTRITION_LOG_VARIANT]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_UNIT]  WITH CHECK ADD  CONSTRAINT [FK_NUTRITION_UNIT_FOOD] FOREIGN KEY([FOOD_ID])
REFERENCES [dbo].[NUTRITION_FOOD] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_UNIT] CHECK CONSTRAINT [FK_NUTRITION_UNIT_FOOD]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT]  WITH CHECK ADD  CONSTRAINT [FK_NUTRITION_VARIANT_FOOD] FOREIGN KEY([FOOD_ID])
REFERENCES [dbo].[NUTRITION_FOOD] ([ID])
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] CHECK CONSTRAINT [FK_NUTRITION_VARIANT_FOOD]
GO
ALTER TABLE [dbo].[NUTRITION_MICRONUTRIENT]  WITH CHECK ADD  CONSTRAINT [FK_NUTRITION_MICRO_VARIANT] FOREIGN KEY([FOOD_VARIANT_ID])
REFERENCES [dbo].[NUTRITION_FOOD_VARIANT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NUTRITION_MICRONUTRIENT] CHECK CONSTRAINT [FK_NUTRITION_MICRO_VARIANT]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD_MICRONUTRIENT]  WITH CHECK ADD  CONSTRAINT [FK_NUTRITION_USER_FOOD_MICRO] FOREIGN KEY([USER_FOOD_ID])
REFERENCES [dbo].[NUTRITION_USER_FOOD] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD_MICRONUTRIENT] CHECK CONSTRAINT [FK_NUTRITION_USER_FOOD_MICRO]
GO
ALTER TABLE [dbo].[reading_logs]  WITH CHECK ADD  CONSTRAINT [FK_reading_logs_book] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reading_logs] CHECK CONSTRAINT [FK_reading_logs_book]
GO
ALTER TABLE [dbo].[reading_logs]  WITH CHECK ADD  CONSTRAINT [FK_reading_logs_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reading_logs] CHECK CONSTRAINT [FK_reading_logs_user]
GO
ALTER TABLE [dbo].[review_histories]  WITH CHECK ADD  CONSTRAINT [FK_review_histories_review_item] FOREIGN KEY([review_item_id])
REFERENCES [dbo].[review_items] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[review_histories] CHECK CONSTRAINT [FK_review_histories_review_item]
GO
ALTER TABLE [dbo].[review_histories]  WITH CHECK ADD  CONSTRAINT [FK_review_histories_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[review_histories] CHECK CONSTRAINT [FK_review_histories_user]
GO
ALTER TABLE [dbo].[review_items]  WITH CHECK ADD  CONSTRAINT [FK_review_items_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[review_items] CHECK CONSTRAINT [FK_review_items_user]
GO
ALTER TABLE [dbo].[speaking_lessons]  WITH CHECK ADD  CONSTRAINT [FK_speaking_lessons_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[speaking_lessons] CHECK CONSTRAINT [FK_speaking_lessons_user]
GO
ALTER TABLE [dbo].[study_links]  WITH CHECK ADD  CONSTRAINT [FK_study_links_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[study_links] CHECK CONSTRAINT [FK_study_links_users]
GO
ALTER TABLE [dbo].[study_streaks]  WITH CHECK ADD  CONSTRAINT [FK_study_streaks_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[study_streaks] CHECK CONSTRAINT [FK_study_streaks_user]
GO
ALTER TABLE [dbo].[tags]  WITH CHECK ADD  CONSTRAINT [FK_tags_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tags] CHECK CONSTRAINT [FK_tags_user]
GO
ALTER TABLE [dbo].[user_settings]  WITH CHECK ADD  CONSTRAINT [FK_user_settings_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_settings] CHECK CONSTRAINT [FK_user_settings_user]
GO
ALTER TABLE [dbo].[vocabularies]  WITH CHECK ADD  CONSTRAINT [FK_vocabularies_topic] FOREIGN KEY([topic_id])
REFERENCES [dbo].[vocabulary_topics] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[vocabularies] CHECK CONSTRAINT [FK_vocabularies_topic]
GO
ALTER TABLE [dbo].[vocabularies]  WITH CHECK ADD  CONSTRAINT [FK_vocabularies_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[vocabularies] CHECK CONSTRAINT [FK_vocabularies_user]
GO
ALTER TABLE [dbo].[vocabulary_examples]  WITH CHECK ADD  CONSTRAINT [FK_vocabulary_examples_vocabulary] FOREIGN KEY([vocabulary_id])
REFERENCES [dbo].[vocabularies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vocabulary_examples] CHECK CONSTRAINT [FK_vocabulary_examples_vocabulary]
GO
ALTER TABLE [dbo].[vocabulary_topics]  WITH CHECK ADD  CONSTRAINT [FK_vocab_topics_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vocabulary_topics] CHECK CONSTRAINT [FK_vocab_topics_user]
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_ACTIVITY_INTENSITY] CHECK  (([INTENSITY]='HIGH' OR [INTENSITY]='MODERATE' OR [INTENSITY]='LOW'))
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY] CHECK CONSTRAINT [CK_NUTRITION_ACTIVITY_INTENSITY]
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_ACTIVITY_MET] CHECK  (([MET_VALUE]>(0)))
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY] CHECK CONSTRAINT [CK_NUTRITION_ACTIVITY_MET]
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY_LOG]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_ACTIVITY_LOG_CALORIES] CHECK  (([CALORIES_BURNED]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY_LOG] CHECK CONSTRAINT [CK_NUTRITION_ACTIVITY_LOG_CALORIES]
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY_LOG]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_ACTIVITY_LOG_DURATION] CHECK  (([DURATION_MINUTES]>(0)))
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY_LOG] CHECK CONSTRAINT [CK_NUTRITION_ACTIVITY_LOG_DURATION]
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY_LOG]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_ACTIVITY_LOG_MET] CHECK  (([MET_VALUE]>(0)))
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY_LOG] CHECK CONSTRAINT [CK_NUTRITION_ACTIVITY_LOG_MET]
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY_LOG]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_ACTIVITY_LOG_WEIGHT] CHECK  (([WEIGHT_KG]>(0)))
GO
ALTER TABLE [dbo].[NUTRITION_ACTIVITY_LOG] CHECK CONSTRAINT [CK_NUTRITION_ACTIVITY_LOG_WEIGHT]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_LOG_CALORIES] CHECK  (([CALORIES]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] CHECK CONSTRAINT [CK_NUTRITION_LOG_CALORIES]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_LOG_CARB] CHECK  (([CARBOHYDRATE]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] CHECK CONSTRAINT [CK_NUTRITION_LOG_CARB]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_LOG_FAT] CHECK  (([FAT]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] CHECK CONSTRAINT [CK_NUTRITION_LOG_FAT]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_LOG_FIBER] CHECK  (([FIBER]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] CHECK CONSTRAINT [CK_NUTRITION_LOG_FIBER]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_LOG_FOOD_SOURCE] CHECK  (([FOOD_VARIANT_ID] IS NOT NULL AND [USER_FOOD_ID] IS NULL OR [FOOD_VARIANT_ID] IS NULL AND [USER_FOOD_ID] IS NOT NULL))
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] CHECK CONSTRAINT [CK_NUTRITION_LOG_FOOD_SOURCE]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_LOG_PROTEIN] CHECK  (([PROTEIN]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] CHECK CONSTRAINT [CK_NUTRITION_LOG_PROTEIN]
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_LOG_QUANTITY] CHECK  (([QUANTITY]>(0)))
GO
ALTER TABLE [dbo].[NUTRITION_DAILY_LOG] CHECK CONSTRAINT [CK_NUTRITION_LOG_QUANTITY]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_UNIT]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_UNIT_VALUE] CHECK  (([GRAM_VALUE] IS NOT NULL AND [GRAM_VALUE]>(0) OR [ML_VALUE] IS NOT NULL AND [ML_VALUE]>(0)))
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_UNIT] CHECK CONSTRAINT [CK_NUTRITION_UNIT_VALUE]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_VARIANT_AMOUNT] CHECK  (([SERVING_AMOUNT]>(0)))
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] CHECK CONSTRAINT [CK_NUTRITION_VARIANT_AMOUNT]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_VARIANT_CALORIES] CHECK  (([CALORIES]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] CHECK CONSTRAINT [CK_NUTRITION_VARIANT_CALORIES]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_VARIANT_CARB] CHECK  (([CARBOHYDRATE]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] CHECK CONSTRAINT [CK_NUTRITION_VARIANT_CARB]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_VARIANT_FAT] CHECK  (([FAT]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] CHECK CONSTRAINT [CK_NUTRITION_VARIANT_FAT]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_VARIANT_FIBER] CHECK  (([FIBER]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] CHECK CONSTRAINT [CK_NUTRITION_VARIANT_FIBER]
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_VARIANT_PROTEIN] CHECK  (([PROTEIN]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_FOOD_VARIANT] CHECK CONSTRAINT [CK_NUTRITION_VARIANT_PROTEIN]
GO
ALTER TABLE [dbo].[NUTRITION_MICRONUTRIENT]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_MICRO_AMOUNT] CHECK  (([AMOUNT]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_MICRONUTRIENT] CHECK CONSTRAINT [CK_NUTRITION_MICRO_AMOUNT]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_USER_FOOD_AMOUNT] CHECK  (([SERVING_AMOUNT]>(0)))
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD] CHECK CONSTRAINT [CK_NUTRITION_USER_FOOD_AMOUNT]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_USER_FOOD_CALORIES] CHECK  (([CALORIES]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD] CHECK CONSTRAINT [CK_NUTRITION_USER_FOOD_CALORIES]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_USER_FOOD_CARB] CHECK  (([CARBOHYDRATE]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD] CHECK CONSTRAINT [CK_NUTRITION_USER_FOOD_CARB]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_USER_FOOD_FAT] CHECK  (([FAT]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD] CHECK CONSTRAINT [CK_NUTRITION_USER_FOOD_FAT]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_USER_FOOD_FIBER] CHECK  (([FIBER]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD] CHECK CONSTRAINT [CK_NUTRITION_USER_FOOD_FIBER]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_USER_FOOD_PROTEIN] CHECK  (([PROTEIN]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD] CHECK CONSTRAINT [CK_NUTRITION_USER_FOOD_PROTEIN]
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD_MICRONUTRIENT]  WITH CHECK ADD  CONSTRAINT [CK_NUTRITION_USER_FOOD_MICRO] CHECK  (([AMOUNT]>=(0)))
GO
ALTER TABLE [dbo].[NUTRITION_USER_FOOD_MICRONUTRIENT] CHECK CONSTRAINT [CK_NUTRITION_USER_FOOD_MICRO]
GO
USE [master]
GO
