@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: #e2e8f0;
  }
  html {
    font-size: 15px;
  }
  body {
    @apply bg-slate-50 text-slate-800 antialiased;
    font-size: 15px;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
